@import "./variable.scss";

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html,
body {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  font-feature-settings: normal !important;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: $primary-bg;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

p {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: auto;
}
