@import "../../assets/scss/style.scss";

.profile_page_main_container {
  .profile_page_container {
    // padding: 20px 10px;
    .form_container {
      border: 2px solid white;
      border-radius: 25px;
      color: white;
      // width: 60%;
      margin: auto;
      padding: 20px 10px;
      .top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .heading {
          color: #fff;
          text-align: center;
          font-size: 31px;
          font-style: normal;
          font-weight: 800;
          line-height: normal;
        }
        .photo_upload {
          margin-top: 20px;
          margin-bottom: 10px;
        }
        .button_container {
          display: flex;
          gap: 15px;
          button {
            color: #fff;
            text-align: center;
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            border-radius: 11px;
            background: linear-gradient(
              90deg,
              rgba(217, 217, 217, 0.16) -174.33%,
              rgba(115, 115, 115, 0.16) 99.99%
            );
            outline: none;
            border: none;
            width: 119px;
            height: 28px;
          }
        }
      }
      .middle {
        width: 80%;
        margin: auto;
        .middle_row {
          display: flex;
          flex-direction: column;
          gap: 30px;
          margin-top: 40px;
        }
        .input_row {
          display: flex;
          align-items: center;
          .name {
            color: #fff;
            text-align: left;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            span {
              color: red;
            }
            flex-basis: 30%;
          }
          .input {
            flex-basis: 70%;
            input,
            .ant-select {
              border-radius: 5px;
              background: linear-gradient(
                90deg,
                rgba(217, 217, 217, 0.08) 0%,
                rgba(115, 115, 115, 0.08) 100%
              );
              outline: none;
              border: none;
              width: 70%;
              padding: 5px 5px;

              color: white;
              font-size: 20px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              .ant-select-selector {
                background: transparent;
                border: none;
              }
            }
          }
        }
      }
      .bottom {
        .connect-section {
          display: flex;
          justify-content: space-between;
          gap: 20px;
          padding: 0 20px;
          margin-top: 15px;
        }

        .connect-title {
          color: #fff;
          text-align: center;
          flex-grow: 0.6;
          margin: auto 0;
          font: 500 20px Mplus 1p, sans-serif;

          color: #fff;
          text-align: center;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          margin-top: 10px;
        }

        .profile-images {
          display: flex;
          //   justify-content: space-between;
          gap: 20px;
          flex-grow: 1;
          flex-basis: auto;
        }

        .profile-image {
          aspect-ratio: 1;
          object-fit: cover;
          object-position: center;
          width: 45px;
          border-radius: 50%;
        }

        .bottom_main_container {
          display: flex;
          justify-content: space-between;
          width: 80%;
          margin: auto;
          margin-top: 40px;
          .left_button {
            button {
              border-radius: 26px;
              background: #d9d9d9;
              outline: none;
              border: none;
              color: #000;
              text-align: center;
              font-size: 18px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              display: inline-flex;
              padding: 13px 78px;
              justify-content: center;
              align-items: center;
            }
          }
          .right_button {
            button {
              border-radius: 26px;
              background: #d9d9d9;
              outline: none;
              border: none;
              color: #000;
              text-align: center;
              font-size: 18px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              display: inline-flex;
              padding: 13px 78px;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }
    }
  }
  .button_container {
    button {
      background-color: $primary-color;
      outline: none;
      border: none;
      border-radius: 20px;
      padding: 10px 20px;
      color: #fff;
      text-align: center;
      //   font-family: "Mplus 1p Bold";
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      img {
        height: 100%;
        width: 50%;
      }
    }
  }
}
