@import "../../assets/scss/style.scss";

.odyssey_main_container {
  .odyssey_container {
    color: white;
    display: grid;
    // grid-template-areas: "left middle  right";
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
    .odyssey_left {
      grid-area: "left";
      .left_main_card_container {
        .left_main_card {
          .profile-card {
            border-radius: 26px;
            box-shadow: 0px -1px 24px 0px rgba(0, 0, 0, 0.25);
            background-color: #1a2730;
            display: flex;
            max-width: 505px;
            padding-bottom: 35px;
            flex-direction: column;
            align-items: center;
            font-size: 24px;
            color: #fff;
            text-align: center;
          }

          .profile-background {
            aspect-ratio: 3.13;
            object-fit: cover;
            width: 100%;
          }

          @media (max-width: 991px) {
            .profile-background {
              max-width: 100%;
            }
          }

          .profile-avatar {
            aspect-ratio: 0.95;
            object-fit: cover;
            width: 100px;
            border-radius: 50%;
            margin-top: -50px;
            max-width: 100%;
          }

          .profile-description {
            font-weight: 400;
            margin-top: 55px;
            color: #fff;
            text-align: center;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }

          @media (max-width: 991px) {
            .profile-description {
              margin-top: 40px;
            }
          }

          .profile-divider {
            border-color: rgba(255, 255, 255, 1);
            border-style: solid;
            border-width: 0px;
            background-color: #fff;
            width: 100%;
            min-height: 1px;
            margin-top: 38px;
          }

          @media (max-width: 991px) {
            .profile-divider {
              max-width: 100%;
            }
          }

          .profile-stats {
            display: flex;
            margin-top: 35px;
            // width: 325px;
            max-width: 100%;
            justify-content: space-between;
            gap: 20px;
          }

          @media (max-width: 991px) {
            .profile-stats {
              margin-top: 40px;
              flex-wrap: wrap;
            }
          }

          .profile-stat {
            display: flex;
            flex-direction: column;
            flex: 1;
            padding: 0 20px;
          }

          .profile-stat-value {
            color: #fff;
            text-align: center;
            font-size: 20px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
          }

          .profile-stat-label {
            color: #fff;
            text-align: center;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }

          //   User card
          .user_follow_card_main_container {
            .user_follow_container {
              .profile-card {
                border-radius: 26px;
                background-color: #1a2730;
                // max-width: 505px;
                // padding: 80px 19px 0;
                margin-top: 10px;
                padding-bottom: 15px;
              }

              .profile-card__content {
                display: flex;
                gap: 20px;
              }

              @media (max-width: 991px) {
                .profile-card__content {
                  flex-direction: column;
                  align-items: stretch;
                  gap: 0;
                }
              }

              .profile-card__profiles {
                display: flex;
                flex-direction: column;
                line-height: normal;
                margin-left: 0;
                padding: 7px 15px;

                .left {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  gap: 5px;
                }
              }

              @media (max-width: 991px) {
                .profile-card__profiles {
                  width: 100%;
                }
              }

              .profile-card__profile {
                display: flex;
                flex-grow: 1;
                gap: 17px;
                align-items: center;
                justify-content: space-between;
              }

              @media (max-width: 991px) {
                .profile-card__profile {
                  margin-top: 40px;
                }
              }

              .profile-card__avatar-group {
                display: flex;
                flex-direction: column;
                align-items: center;
                flex-basis: 0%;
              }

              .profile-card__avatar {
                aspect-ratio: 1;
                object-fit: cover;
                width: 55px;
                border-radius: 50%;
                margin-top: 18px;
              }

              .profile-card__info {
                display: flex;
                flex-direction: column;
                font-size: 25px;
                color: #fff;
                font-weight: 800;
                text-align: center;
                flex-grow: 1;
                flex-basis: 0%;
                margin: auto 0;
              }

              @media (max-width: 991px) {
                .profile-card__info {
                  white-space: initial;
                }
              }

              .profile-card__name {
                color: #fff;
                font-size: 20px;
                font-style: normal;
                font-weight: 800;
                line-height: normal;
                text-align: left;
              }

              .profile-card__username {
                color: rgba(255, 255, 255, 0.66);
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-align: left;
              }

              .profile-card__actions {
                display: flex;
                flex-direction: column;
                line-height: normal;
                width: 25%;
                margin-left: 20px;
              }

              @media (max-width: 991px) {
                .profile-card__actions {
                  width: 100%;
                }
              }

              .profile-card__follow-btn {
                font-family: Mplus 1p, sans-serif;
                border-radius: 10px;
                background-color: #d9d9d9;
                color: #000;
                font-size: 13px;
                font-weight: 800;
                text-align: center;
                padding: 8px 17px;
                // margin-top: 57px;
                cursor: pointer;
                border: none;
              }

              .profile-card__follow-btn:first-child {
                // margin-top: 72px;
              }

              @media (max-width: 991px) {
                .profile-card__follow-btn {
                  //   margin-top: 40px;
                  white-space: initial;
                }

                .profile-card__follow-btn:first-child {
                  //   margin-top: 40px;
                }
              }
            }
          }
        }
      }
    }
    .news_middle {
      grid-column: 2/4;

      .button_container {
        padding-bottom: 15px;

        .unorder-container {
          display: flex;
          justify-content: center;
          align-items: center;
          column-gap: 20px;
          list-style-type: none;
          margin: 0;
          padding: 0;

          .switch-trueButton {
            background-color: white;
            color: #000;
            font-weight: 700;
            padding: 12px 35px;
            border-radius: 10px;
            font-size: 0.875rem; /* 14px */
            line-height: 1.25rem; /* 20px */
          }
          .switch-falseButton {
            background-color: #27343e;
            color: #fff;
            font-weight: 700;
            padding: 12px 35px;
            border-radius: 10px;
            font-size: 0.875rem; /* 14px */
            line-height: 1.25rem; /* 20px */
          }
        }
      }

      
      .loader:after {
        content: "";
        border-radius:26px ;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #1a273077 40%, #1a2730b4 50%, #1a273070 60%, #ffffff00 100%);
        animation: gradient-animation_2 1.2s linear infinite;
      }
      
      .loader {
        position: relative;
        
        height: 500px;
        margin-bottom: 10px;
        padding: 30px;
        background-color: #1a2730;
        border-radius: 26px;
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        gap: 50px;
        overflow: hidden;
        
        .bg_loader{
          background-color: #bbbbbb;
        }
      
      
      
        .wrapper_left {
          width: 100%;
          height: 100%;
          position: relative;
          width: 50%;
          display: flex;
          flex-direction: column;
          gap: 20px;

        
        
          .square {
            width: 220px;
            height: 220px;
            border-radius: 22px;
            object-fit: cover;
            
          }
          

          .loader_profile{
            display: flex;
                flex-direction: row;
                align-items: center;
                margin: 15px 0;
                gap: 20px;
            .line-1 {
              
              height: 20px;
              width: 20px;

            }
            
            .line-2 {
              
              height: 20px;
              width: 180px;
              border-radius: 5px;
            }
          }
          
          .line-3 {
            
            height: 10px;
            width: 81%;
            border-radius: 5px;
          }
          
          .line-4 {
            
            height: 10px;
            width: 62%;
            border-radius: 5px;
          }
          .line-5 {
            
            height: 10px;
            width: 75%;
            border-radius: 5px;
          }
          .line-6 {
            
            height: 10px;
            width: 42%;
            border-radius: 5px;
          }
        }
        .wrapper_right{
          width: 100%;
          height: 100%;
          position: relative;
          width: 50%;
          display: flex;
          flex-direction: column;
          gap: 20px;
          .loader_profile{
            display: flex;
                flex-direction: row;
                align-items: center;
                margin: 15px 0;
                gap: 20px;
            .line-1 {
              
              height: 20px;
              width: 20px;

            }
            
            .line-2 {
              
              height: 20px;
              width: 180px;
              border-radius: 5px;
            }
          }
          
          .line-3 {
            
            height: 10px;
            width: 81%;
            border-radius: 5px;
          }
          
          .line-4 {
            
            height: 10px;
            width: 62%;
            border-radius: 5px;
          }
        }
      }  
      @keyframes gradient-animation_2 {
        0% {
          transform: translateX(-100%);
        }
      
        100% {
          transform: translateX(100%);
        }
      }

      .news_mainBody {
        background-color: #1a2730;
        border-radius: 26px;
        padding: 0px 15px 0 30px;
        color: #fff;
        margin-top: 10px;

        .news_card {
          display: flex;
          flex-direction: row;
          padding: 35px 0;
          gap: 30px;
        }
        .news_cardleft {
          width: 50%;
          .img_newscardleft {
            max-width: 220px;
            height: 220px;
            border-radius: 22px;
            object-fit: cover;
            object-position: center;
          }
          .heading_newscardleft {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 15px 0;
            gap: 10px;
            .profile_newscardleft {
              width: 20px;
              height: 20px;
              background-color: chocolate;
            }
            .title{
              font-size: 20px;
              font-weight: 300;
            }
          }
          .time_newscardleft {
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;
            opacity: 50%;
            font-weight: 300;
            .gap_aftertime {
              background-color: #ffffff;
              opacity: 50%;
              width: 5px;
              height: 5px;
              border-radius: 999px;
            }
          }
        }
        .news_cardright {
          width: 50%;
          .container_newscardright {
            padding-bottom: 30px;
            .heading_newscardright {
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 10px;
              margin-bottom: 6px;
              .profile_newscardright {
                background-color: darkmagenta;
                width: 13px;
                height: 13px;
              }
            }
            .title {
              font-weight: 300;
              font-size:18px;
            }
            .para_newscardright {
              font-weight: 400;
              margin-top: 7px;
              // text-align: justify;
              padding: 0px;
              color: #b6babd;
            }
            .time_newscardright {
              display: flex;
              flex-direction: row;
              gap: 10px;
              align-items: center;
              justify-items: center;
              opacity: 50%;
              margin-top: 0px;
              font-size: smaller;

              .gap_aftertime {
                background-color: #ffffff;
                opacity: 50%;
                width: 5px;
                height: 5px;
                border-radius: 999px;
              }
            }
          }
        }
      }
    }
    .contraverse_right {
      grid-area: "right";

      .right_main_container {
        .right_container {
          .tab_card {
            .explore-menu {
              background-color: #1a2730;
              border-radius: 26px;
              color: #fff;
              display: flex;
              flex-direction: column;
              font-size: 25px;
              font-weight: 700;
              max-width: 374px;
              padding: 40px 45px;
              text-align: center;
              white-space: nowrap;
            }
            .explore-heading {
              color: #fff;
              text-align: left;
              font-size: 27px;
              font-style: normal;
              font-weight: 800;
              line-height: normal;
            }
            .menu-item {
              align-items: center;
              background-color: #27343e;
              border-radius: 10px;
              font-family: Mplus 1p Bold, -apple-system, Roboto, Helvetica,
                sans-serif;
              justify-content: center;
              margin-top: 20px;
              padding: 9px 40px;

              text-align: center;
              font-size: 22px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              cursor: pointer;
            }
            .menu-item.active {
              background-color: #fff;
              color: #1a2730;
            }
          }

          .sponsored-post {
            margin-top: 10px;
            border-radius: 26px;
            box-shadow: 0px 11px 35px 0px rgba(0, 0, 0, 0.25);
            background-color: #1a2730;
            display: flex;
            flex-direction: column;
            max-width: 374px;
            padding: 24px 25px 54px;
          }

          .sponsored-label {
            color: rgba(255, 255, 255, 0.43);
            font: 500 19px Mplus 1p, sans-serif;
          }

          .author-info {
            display: flex;
            align-items: center;
            gap: 12px;
            margin-top: 17px;
          }

          .author-image {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            object-fit: cover;
          }

          .author-username {
            color: #fff;
            font: 700 16px Mplus 1p Bold, -apple-system, Roboto, Helvetica,
              sans-serif;
            margin-right: auto;
          }

          .verified-badge {
            width: 25px;
            height: 25px;
            margin-top: 7px;
          }

          .follow-button {
            background-color: #d9d9d9;
            border: none;
            border-radius: 10px;
            color: #000;
            cursor: pointer;
            font: 500 14px Mplus 1p, sans-serif;
            padding: 11px 17px;
          }

          .post-content {
            display: flex;
            gap: 15px;
            margin-top: 29px;
          }

          .post-image {
            width: 100px;
            max-width: 100%;
            aspect-ratio: 0.99;
            object-fit: cover;
          }

          .post-description {
            color: #fff;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
      }
    }
  }

  .foryou_page {
    grid-column: 1/5;
    color: #fff;
    margin-top: 50px;
    .h3 {
      font-weight: 600;
      margin-bottom: 5px;
    }
    .para {
      font-size: smaller;
      opacity: 50%;
    }
    .container_foryoupage {
      color: #fff;
      background-color: #1a2730;
      border-radius: 20px;
      margin-top: 30px;
      padding: 40px 0 10px;
      display: flex;
      flex-wrap: wrap;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      .card_foryoupage {
        display: flex;
        flex-direction: row;
        margin: 10px 31px 39px;
        gap: 30px;
        align-items: center;

        .left_foryoupage {
          .heading {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-items: center;
            gap: 10px;
            margin-bottom: 18px;
            font-weight: 200;

            .profile_foryoupage {
              width: 20px;
              height: 20px;
              background-color: darkmagenta;
            }
            .heading_foryoupage {
              font-weight: 300;
              
            }
          }
          .para_foryoupage {
            margin-bottom: 5px;
            font-size:16px;
            font-weight: 400;
            color:#bfc4c7
          }
          .time {
            opacity: 50%;
            font-size: large;
            font-weight: 300;
          }
        }
        .right_foryoupage {
          .img_rightforyoupage {
            width: 130px;
            height: 130px;
            object-fit: cover;
            border-radius: 20px;
            margin: 0 5px 0 10px;
          }
        }
      }
    }
  }

  .foryou_cards {
    margin-top: 50px;
    color: #fff;
    .h3 {
      font-weight: 600;
      margin-bottom: 5px;
    }
    .para {
      font-size: smaller;
      opacity: 50%;
    }
    .container_foryoucards {
      color: #fff;
      display: grid;
      grid-column: 1/2;
      gap: 20px;
      padding: 30px 0;

      grid-template-columns: repeat(3, 1fr);
      .card_foryoucards {
        padding: 40px 20px;

        background-color: #1a2730;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .horizantal {
          width: full;
          background-color: #fff;
          height: 0.5px;
          margin-bottom: 20px;
          opacity: 30%;
        }
        .single_card {
          display: flex;
          align-items: center;

          .left_foryoucards {
            margin-right: 19px;

            .heading {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-items: center;
              gap: 10px;
              margin-bottom: 14px;
              font-weight: 400;

              .profile_foryoucards {
                width: 20px;
                height: 20px;
                background-color: darkmagenta;
              }
              .heading_foryoucards {
                font-weight: 300;
                text-align: center;
              }
            }
            .para_foryoucards {
              margin-bottom: 5px;
            }
            .time {
              opacity: 50%;
              font-size: large;
              font-weight: 300;
            }
          }
          .right_foryoucards {
            .img_rightforyoucards {
              width: 100px;
              height: 100px;
              object-fit: cover;
              border-radius: 20px;
              margin: 0 px;
            }
          }
        }
      }
    }
  }
}
