@import "../../assets/scss/variable.scss";

.header_main_container {
  padding: 15px 0;
  .header {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-top: 11px;
    background-color: $primary-bg;
  }

  @media (max-width: 991px) {
    .header {
      flex-wrap: wrap;
    }
  }
  .left_section {
    display: flex;
    align-items: center;
  }

  .search-bar {
    display: flex;
    gap: 19px;
    margin-top: 11px;
    font-size: 28px;
    color: rgba(255, 255, 255, 0.38);
    font-weight: 500;
    white-space: nowrap;
    text-align: center;
  }

  @media (max-width: 991px) {
    .search-bar {
      max-width: 100%;
      flex-wrap: wrap;
      white-space: initial;
    }
  }

  .search-icon {
    width: 76px;
    height: 59px;
    border-radius: 14px;
    background-color: rgba(217, 217, 217, 0.27);
  }

  .search-input {
    flex-grow: 1;
    width: fit-content;
    padding: 19px 60px 19px 26px;
    border-radius: 21px;
    background-color: #1a2730;
    font-family: Mplus 1p, sans-serif;
    justify-content: center;
    align-items: start;
  }

  @media (max-width: 991px) {
    .search-input {
      padding: 0 20px;
      white-space: initial;
    }
  }

  .header-icons {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin: auto 0;
    padding: 0 20px;
  }

  .header-icon {
    width: 35px;
    height: 35px;
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    cursor: pointer;
  }

  .profile-link {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    flex-basis: auto;
    padding-right: 20px;
    border-radius: 21px;
    border: 2px solid #f41e1e;
    background-color: #1a2730;
    font-size: 24px;
    color: #fff;
    font-weight: 300;
    white-space: nowrap;
    text-align: center;
  }

  @media (max-width: 991px) {
    .profile-link {
      white-space: initial;
    }
  }

  .profile-avatar {
    width: 83px;
    aspect-ratio: 1.04;
    object-fit: auto;
    object-position: center;
    border-radius: 50%;
    align-self: stretch;
    margin: auto 0;
  }

  .profile-username {
    flex-grow: 1;
    flex-basis: auto;
    align-self: stretch;
    margin: auto 0;
    font-family: Mplus 1p, sans-serif;
  }
  .header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 100%;
    .left_container {
      display: flex;
      align-items: center;
      gap: 20px;
      .logo_container {
        color: #fff;
        text-align: center;
        font-family: NanumMyeongjo;
        font-size: 25px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
      }
      .search_container {
      }
    }
    .right_container {
      .left_section {
        align-items: center;
        display: flex;
      }
      .header-icons {
      }
      .profile_links_container {
        display: flex;
        align-items: center;
        .icon_container {
          img {
            width: 50px;
            height: 50px;
            margin-right: -40px;
            z-index: 1;
            position: relative;
          }
        }
        .address_container {
          .bg_color_container {
            background-image: linear-gradient(
              to right,
              #f41e1e 0%,
              #e0972f 10%,
              #b3d52e 20%,
              #35c89c 30%,
              #4074b2 40%,
              #0074fc 50%,
              #6b05fa 60%,
              #ff09d8 70%,
              #c02fa9 80%,
              #fe5f05 90%
            );
            padding: 1px;
            border-radius: 21px;
            .address {
              font-family: "Mplus 1p Bold";
              font-size: 17px;
              font-style: normal;
              font-weight: 500;
              background-color: $primary-bg;
              padding: 10px;
              border-radius: 21px;
              padding-left: 50px;
            }
          }
        }
      }
    }
  }
  .button_container {
    button {
      background-color: $primary-color;
      outline: none;
      border: none;
      border-radius: 20px;
      padding: 10px 20px;
      color: #fff;
      text-align: center;
      //   font-family: "Mplus 1p Bold";
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      img {
        height: 100%;
        width: 50%;
      }
    }
  }
}
