@import "../../assets/scss/style.scss";

.homepage_main_container {
  background-image: url("../../assets/images/bg.svg");
  height: 100%;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  .homepage_container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    .top_container {
      display: flex;
      margin-top: 30px;
      .icon_container {
        width: 180px;
        height: 180px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .text_container {
        color: #fff;
        font-family: "Mplus 1p Bold";
        font-size: 65px;
        font-style: normal;
        font-weight: 700;
        line-height: 1; /* 116.471% */
        .gradient_text {
          background: linear-gradient(
            90deg,
            #9e00ff 0.01%,
            #fff 40.51%,
            #fff 50.96%,
            #fe5f05 90.9%
          );
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-family: "Mplus 1p Bold";
          font-size: 65px;
          font-style: normal;
          font-weight: 700;
        }
      }
      .button_container {
        button {
          background-color: $primary-color;
          outline: none;
          border: none;
          border-radius: 20px;
          padding: 10px 20px;
          color: #fff;
          text-align: center;
          //   font-family: "Mplus 1p Bold";
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          img {
            height: 100%;
            width: 50%;
          }
        }
      }
    }
    .bottom_container {
      margin-bottom: 20px;
      .bg_border {
        // display: flex;
        // flex-wrap: wrap;
        // gap: 20px;
        // justify-content: space-around;
      }
      .features-container {
        padding: 0 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-around;
      }
      a {
        display: flex;
        flex-basis: calc(25% - 20px);
        .feature-card {
          background-image: linear-gradient(
            to top,
            #f41e1e 0%,
            #e0972f 10%,
            #b3d52e 20%,
            #35c89c 30%,
            #4074b2 40%,
            #0074fc 50%,
            #6b05fa 60%,
            #ff09d8 70%,
            #c02fa9 80%,
            #fe5f05 90%
          );
          color: #fff;
          text-align: center;
          padding: 45px 15px;
          // border: 1px solid #f41e1e;
          border-radius: 19px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          position: relative;
          z-index: 1;
          &::after {
            content: "";
            width: 99%;
            height: 99.5%;
            background-color: #1a2730;
            position: absolute;
            top: 1px;
            z-index: -1;
            border-radius: 19px;
          }
          .bottom_container_box {
          }
        }
      }

      .feature-image {
        width: 65%;
        max-width: 237px;
        object-fit: contain;
      }

      .feature-title {
        margin-top: 50px;
        font-weight: 800;
        font-size: 25px;
      }

      .feature-description {
        margin-top: 12px;
        font-size: 18px;
      }

      @media (max-width: 991px) {
        .features-container {
          flex-direction: column;
          align-items: stretch;
        }

        .feature-card {
          margin-top: 34px;
          padding: 20px;
          width: 100%;
        }
      }
    }
  }
}
